/* Custom font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*
  Lucho's Custom CSS Reset, inspired by Josh's Custom CSS Reset
  @https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

dialog {
  border: none;
  outline: none;
  max-width: 100%;
  padding: 0;
}

/* General */
:root {
  font-family: 'Rubik', sans-serif;
  --spacing-xss: 0.5rem;
  --spacing-xs: 1rem;
  --spacing-s: 2rem;
  --spacing-m: 3rem;
  --spacing-l: 4rem;
  --spacing-xl: 6rem;
  --spacing-xxl: 8rem;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(130px, 25%, 220px);
  font-size: calc(2.5rem + 1vw);
}

/* Game */
.game {
  height: 70%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: var(--spacing-l);
  align-items: center;
}

.player1-grid,
.player2-grid {
  display: grid;
  grid: repeat(10, 1fr) / repeat(10, 1fr);
  width: clamp(300px, 35%, 600px);
  aspect-ratio: 1/1;
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.grid-cell {
  border: 1px solid black;
  transition: background-color 0.2s ease;
}

.grid-cell:hover {
  background-color: #ace7ff;
  cursor: pointer;
}

.hit {
  background-color: #ffabab;
}

.miss {
  background-color: #c4faf8;
}

.ship {
  background-color: #717888;
}

/* Footer */
footer {
  height: clamp(15px, 5%, 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p,
footer a {
  color: rgba(0, 0, 0, 0.7);
}

footer a:hover {
  color: black;
  transition: color 0.2s ease;
}

/* Dialog */
dialog:open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

dialog {
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.85);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ship-placement {
  padding: var(--spacing-s);
  gap: var(--spacing-xs);
}

.ship-placement > p {
  font-size: calc(1rem + 0.5vw);
}

dialog > button {
  color: white;
  background-color: black;
  border-radius: 7px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: var(--spacing-xss) var(--spacing-s);
  transition:
    all 0.3s ease,
    scale 0.2s ease;
}

.rotate {
  font-size: calc(1rem + 0.7vw);
}

dialog > button:hover {
  scale: 1.1;
}

.grid-placement {
  display: grid;
  grid: repeat(10, 1fr) / repeat(10, 1fr);
  width: clamp(200px, 30vw, 500px);
  aspect-ratio: 1/1;
  border: 1px solid black;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.endgame {
  padding: var(--spacing-l);
  border-radius: 10px;
  gap: var(--spacing-s);
  width: clamp(300px, 30%, 600px);
}

.endgame-message {
  font-size: calc(2rem + 0.8vw);
}

.play-again {
  font-size: calc(2rem + 1vw);
}
